<h1>Favorite Movies</h1>
<div class="row">

<% favoriteMovies.forEach(function(movie){ %>
  <div class="col-md-6 col-lg-6 pull-left ">
    <div class="well float-container">
    <div class="row">

        <img class="pull-left" src="<%= movie.poster %>"><h5><a href="/movies/<%= movie.imdbId %>"><%= movie.title %></a>
            <form method="post" class="pull-right" action="/favorites/<%= movie.id %>?_method=delete">
               <button type="submit" class="btn-delete btn btn-xs btn-danger glyphicon glyphicon-trash"></button>
            </form></h5> <%= movie.year %>

    </div>
        <div class="row">
          <span class="pull-right">
            <a href="/favorites/<%= movie.id %>/tags/new" class="btn btn-success btn-sm tag"><span class='glyphicon glyphicon-plus'></span> tag</a>
            <a href="/favorites/<%= movie.id %>/comments">
              <button class="btn btn-primary btn-sm comments">comments (
              <% if (movie.comments) { %>
              <%= movie.comments.length %>
              <% } else { %>
              <%= '0' %>
              <% } %>
              )</button>
            </a>
          </span>
            <span class="taglist"><em><strong><a href="/favorites/tags">Tags</a></strong>
            <% if (movie.tags) { %>
            <% movie.tags.forEach(function(tag){ %>
                - <%= tag.word %>
             <% }) %>
            <% } %>
            </em></span>
        </div>
    </div>
  </div>
<% }); %>
</div>